*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(public/animated-gifs-of-fighting-game-backgrounds-18.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-x: hidden;
}
.hulk-image{
   
    /* left :10%; */
    /* border: solid 10px; */
    height: 300px;
    width: 350px;
}
.hulk-image img{
    position: absolute;
    bottom: 20px;
    left: 20px;
    height: auto;
    width: 350px;
}
.iron-man-image{
    /* border: solid 5px; */
     /* left: 60%; */
    height: 300px;
    width: 350px;
    
}
.iron-man-image img{
    /* border: solid 5px; */
     position:absolute;
    display: block;
    bottom: 20px;
    right: 20px;
    transform: scaleX(-1);
    height: 300px;
    width: 300px;
}
.left{
    right: 200px;
}